apiVersion: v1
kind: Secret
metadata:
  name: trillian-db-exporter-secret
  namespace: "{{ baseline_namespace }}"
stringData:
  my.cnf: |
    [client]
    user = {{ db_user }}
    password = {{ db_password }}
    host = trillian-mysql.{{ baseline_namespace }}.svc.cluster.local
    port = 3306
    ssl = true
    ssl-verify-server-cert = false