apiVersion: apps/v1
kind: Deployment
metadata:
  name: trillian-db-exporter
  namespace: "{{ baseline_namespace }}"
  labels:
    app: trillian-db-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trillian-db-exporter
  template:
    metadata:
      labels:
        app: trillian-db-exporter
    spec:
      containers:
      - name: mysql-exporter
        image: prom/mysqld-exporter:v0.17.2
        command:
          - "/bin/sh"
          - "-c"
          - |
            echo "Pausing for 30 seconds to allow database to fully initialize..."
            sleep 30
            echo "Config file should be present. Starting exporter."
            /bin/mysqld_exporter \
              --config.my-cnf=/etc/mysql-exporter/my.cnf \
              --no-collect.info_schema.innodb_cmp \
              --no-collect.info_schema.innodb_cmpmem \
              --no-collect.slave_status
        ports:
        - name: metrics
          containerPort: 9104
        volumeMounts:
        - name: mysql-exporter-config
          mountPath: "/etc/mysql-exporter"
          readOnly: true
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          seccompProfile:
            type: RuntimeDefault
      volumes:
      - name: mysql-exporter-config
        secret:
          secretName: trillian-db-exporter-secret